<f:variable name="fieldWidthStyle"
			value="--shape-field-width:{field.width}%;"/>

<shape-field class="{blockClass}__field {blockClass}__{field.type}-field -layout-{field.layout} -width-{field.width} -{currentPage.type}-step {field.css_class}{f:if(condition:'{field.js_display_condition}',then:' --hidden')}"
	 name="{field.name}"
	 condition="{field.js_display_condition}"
	 style="{fieldWidthStyle}">

	{content -> f:format.raw()}

	<f:render partial="Control/Errors" arguments="{_all}"/>
</shape-field>
