<f:render partial="Field" contentAs="content" arguments="{_all}">
	<f:variable name="id" value="{idPrefix}{namespace}[{field.name}]"/>

	<f:render partial="Control/HeaderLabel" arguments="{_all}"/>
	<f:render partial="Control/Description" arguments="{_all}"/>

	<f:variable name="startingIndex" value="{field.createdFieldsets -> f:count()}"/>
	<shape-repeatable-container id="{id}" iteration="{startingIndex}" class="{blockClass}__repeatable__list -{currentPage.type}-step">
		<template>
			<f:alias map="{fields:field.fields, index:'__INDEX'}">
				<f:render section="RepeatableContainer" arguments="{_all}"/>
			</f:alias>
		</template>
		<f:if condition="{field.createdFieldsets}">
			<f:for each="{field.createdFieldsets}" as="fieldset" iteration="i">
				<f:alias map="{fields:fieldset, index:i.index}">
					<f:render section="RepeatableContainer" arguments="{_all}"/>
				</f:alias>
			</f:for>
		</f:if>

		<f:if condition="{currentPage.type} !== 'summary'">
			<button class="{blockClass}__repeatable__add {buttonClass}"
					type="button"
					data-shape-repeatable-add>
				{f:translate(key:'label.add_fieldset')}
			</button>
		</f:if>
	</shape-repeatable-container>

</f:render>

<f:section name="RepeatableContainer">
	<shape-repeatable-item index="{index}" class="{blockClass}__repeatable__item">
		<div class="{blockClass}__repeatable__fieldset">
			<f:alias map="{fields:fields, namespace:'{namespace}[{field.name}][{index}]'}">
				<f:render partial="FieldList" arguments="{_all}"/>
			</f:alias>
		</div>
		<f:if condition="{currentPage.type} !== 'summary'">
			<button class="{blockClass}__repeatable__remove {buttonClass}"
					type="button"
					data-shape-repeatable-remove>
				{f:translate(key:'label.remove_fieldset')}
			</button>
		</f:if>
	</shape-repeatable-item>
</f:section>

