.shape__section {
	--shape-field-width: 100%;
	--shape-gap: 2.4rem;
	--shape-spacing: .8rem;
	--shape-info-dark: #004085;
	--shape-info-light: #cce5ff;
	--shape-success-dark: #155724;
	--shape-success-light: #d4edda;
	--shape-warning-dark: #856404;
	--shape-warning-light: #fff3cd;
	--shape-error-dark: #721c24;
	--shape-error-light: #f8d7da;
	* {
		box-sizing: border-box;
	}
}

.shape__page {
	padding-bottom: var(--shape-gap);
}

.shape__page__header {
	width: 100%;
	margin: 0;
	padding-bottom: var(--shape-gap);
	font-size: 150%;
}

.shape__fieldset {
	display: flex;
	flex-wrap: wrap;
	margin: calc(var(--shape-gap) / -2);
	padding: 0;
	border: none;
	& + & {
		margin-top: var(--shape-gap);
	}
}

.shape__fieldset__legend {
	width: 100%;
	padding: calc(var(--shape-gap) / 2);
}

.shape__field {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	box-sizing: border-box;
	gap: var(--shape-spacing);
	width: var(--shape-field-width);
	padding: calc(var(--shape-gap) / 2);
	@media (max-width: 768px) {
		min-width: 50%;
	}
	&.-summary-step {
		pointer-events: none;
		opacity: 0.8;
	}

	&.--hidden {
		display: none;
		visibility: hidden;
	}
}

.shape__label {
	padding-block: 0;
	margin-block: 0;
	&.-for-checkbox, &.-for-radio {
	}
}

.shape__control {
	&[disabled] {
		opacity: 0.6;
	}
}

.shape__description {
	padding-block: 0;
	margin-block: 0;
	font-size: smaller;
}

.shape__options-header {
	padding-block: 0;
	margin-block: 0;
	opacity: 0.5;
	label + & {
		margin-top: var(--shape-spacing);
	}
}

.shape__spacing {
	margin-top: var(--shape-spacing);
}

.shape__navigation {
	display: flex;
	margin-top: var(--shape-gap);
	gap: var(--shape-gap);
}

.shape__navigation__button.-next {
	margin-left: auto;
}

.shape__button {
}

.shape__header-field {
	margin-top: var(--shape-gap);
}

.shape__checkbox-control,
.shape__radio-control,
.shape__multi-checkbox-control,
.shape__file-control {

}

.shape__multi-checkbox-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--shape-spacing);
}

.shape__message-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-top: var(--shape-spacing);
	gap: .5em;
	&.-row {
		flex-direction: row;
	}
}

.shape__message {
	position: relative;
	width: fit-content;
	padding: .5em .75em;
	margin-block: 0;
	font-size: smaller;
	line-height: 1.1;
	border-radius: 5px;

	&:has(.shape__message__icon) {
		padding-right: 2em;
	}

	&.--hidden {
		display: none;
		visibility: hidden;
	}

	@media (prefers-color-scheme: dark) {
		color: var(--shape-info-light);
		background: var(--shape-info-dark);
		&.-success {
			color: var(--shape-success-light);
			background: var(--shape-success-dark);
		}
		&.-warning {
			color: var(--shape-warning-light);
			background: var(--shape-warning-dark);
		}
		&.-error {
			color: var(--shape-error-light);
			background: var(--shape-error-dark);
		}
	}
	@media (prefers-color-scheme: light) {
		color: var(--shape-info-dark);
		background: var(--shape-info-light);
		&.-success {
			color: var(--shape-success-dark);
			background: var(--shape-success-light);
		}
		&.-warning {
			color: var(--shape-warning-dark);
			background: var(--shape-warning-light);
		}
		&.-error {
			color: var(--shape-error-dark);
			background: var(--shape-error-light);
		}
	}
}

.shape__message__icon {
	position: absolute;
	padding-left: .5em;

	svg {
		width: 1em;
		height: 1em;
		fill: currentColor;
	}
}

.shape__repeatable-container-field {
	width: 100%;
}

.shape__repeatable__list {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
}

@keyframes show-repeatable-item {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.shape__repeatable__item {
	width: 100%;
	padding: calc(var(--shape-gap) / 2);
	border: 1px solid color-mix(in srgb, currentColor 50%, transparent 50%);
	border-radius: 5px;
	animation: show-repeatable-item 0.4s;
	margin-block: calc(var(--shape-gap) / 2);
}

.shape__repeatable__fieldset {
	display: flex;
	flex-wrap: wrap;
	margin: calc(var(--shape-gap) / -2);
}

.shape__repeatable__add {
}

.shape__repeatable__remove {
	display: block;
	margin-top: var(--shape-gap);
	margin-left: auto;
}

